:root{
    --filter-block-color: #F6F6F6;
    --content-block-color: #3a6fba;

    --background: #eee;
    --blue: #44b;
    --yellow: #c49f0c;
    --red: red;
    --white: #fff;
}


/* body */
body{
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;

    background-color: white;
    display: flex;
}

#market{
    display: flex;

}


/* #region header */

#header{
    container-name: headerTest;
    container-type: inline-size;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 3em;
    column-gap: 4em;
    
}

header > img {
    height: 2em;
    flex: 1;
    justify-content: flex-start;

}

header > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 4;
    background-color: rgb(235, 235, 235);
    border-radius: .3em;

}
header > form img{
    width: 3em;
    height: 3em;
}

header > div {
    flex: 1;
    display: flex;
    gap:2em;
    justify-content: flex-end;
    align-items: center;
}

header > div img {
    width: 1.5em;
    height: 1.5em;
}

header > div img:nth-child(3){
    width: 2em;
    height: 2em;

}

header > form input{
    background-color: transparent;
    border: none;

    padding: 1em 1.5em;
    width: 100%;
}

header > form input::placeholder{
    font-weight: 500;
    color:black;
}

/* #endregion */

/* #region navigation  */
nav {
    width: 100%;
    overflow-x: scroll;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 1.5em;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
/* #endregion */

/* #region title section */
main section:first-of-type{
    height: 22em;
}

main section h1{
    font-size: 3em;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 1.5em;
    font-weight: 400;
}

main section h2{
    font-size: 3em;
    text-align: center;
    width: 60%;
    margin: auto;
    font-weight: 400;
    line-height: 1.3em;
}

main section h2 span{
    font-weight: 700;
    text-decoration: underline;
}



/* #endregion */

/* #region filter block */
#filter-block{
    display: flex;
    flex-direction: column;
    gap: .4em;
}

main details{
    width: 300px;
    height: auto;
    transition: height 0.7s ease; /* Smooth transition for height */
    padding: 2em;

    border-radius: 5px;

    display: flex;
    flex-direction: column;


    background-color: var(--filter-block-color);
}

main details[open] {
    height: auto; /* Allows the height to adjust when expanded */
}

main details[open] > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 2em;
    gap: .3em;
}



details[open] label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 2em;

    
}

main details[open] input{
    display: inline-block;
    align-self: self-start;

    /* all: unset; */

    background-color: white;
    border-radius: 0;
    border: none;
    width: 1em;
    height: 1em;
    pointer-events: visible;

}

main details[open] input:checked{
    color: black;
    background-color: white;
}

main details summary {
    list-style: none; /* Remove default arrow */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

main details summary::after {
    content: "➢"; /* Custom arrow */
    scale: 2;
    transition: transform 0.3s;
}

main details[open] summary::after {
    transform: rotate(90deg);
    /* transform: scale(2); */
}
/* #endregion */

/* #region cards block */
#card-block {
    container-name: article;
    container-type: inline-size;
    width: 100%;
}
#card-block  section{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5em;
    row-gap: 3em;
    justify-items: center;
}

#card-block section article {
    display: flex;
    flex-direction: column;
    width: 13em;
    background-color: var(--background);
    position: relative;
}


/* afbeelding */
main div:nth-of-type(2) section article img {
    width: 100%;
    aspect-ratio: 1;
}

/* sterren */
main div:nth-of-type(2) section article > div > div > p {
    display: inline;
    color: transparent;
    -webkit-text-stroke: 1px var(--yellow);
}

main div:nth-of-type(2) section article > div > div {
    display: inline;
}

/* like button */
main div:nth-of-type(2) section article > div label {
    display: inline-block;
    height: 1em;
    aspect-ratio: 1;
    cursor: pointer;
}

svg {
    stroke: var(--red);
    stroke-width: 20;
    fill: transparent;
    transition: fill .2s;
}

/* liken input */
main div:nth-of-type(2) section article > div input {
    display: none;
}

/* sterren en like div */
main div:nth-of-type(2) section article > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5em 0;
}


/* hartje vullen bij input:checked */
main div:nth-of-type(2) section article > div:has(:checked) label svg {
    fill: var(--red);
}


main div:nth-of-type(2) section article button {
    background-color: var(--blue);
    color: var(--white);
    width: fit-content;
    border: none;
    border-radius: .25em;
    padding: .5em 1em;
    display: inline-block;
    position: absolute;
    right: 1em;
    bottom: .5em;
    cursor: pointer;
}

main div:nth-of-type(2) section article h3:last-of-type {
    display: inline;
    position: absolute;
    bottom: .5em;
    left: 1em;
    margin: 0;
}

main div:nth-of-type(2) section article p {
    margin-bottom: 2.5em !important;
}

main div:nth-of-type(2) section article > div, article h3:not(:last-of-type), article > p {
    margin-left: 1em;
    margin-right: 1em;
}

.rating-5 p:nth-last-child(n + 1),
.rating-4 p:nth-last-child(n + 2),
.rating-3 p:nth-last-child(n + 3),
.rating-2 p:nth-last-child(n + 4),
.rating-1 p:nth-last-child(n + 5) {
    color: var(--yellow);
}


/* #endregion */

/* #region Filtering */
/* ages */
:has(#age1:checked) li:has(.normal), :has(#age1:checked) li:has(.old) {
    color: blue;
    display: none;
}

:has(#age2:checked) li:has(.young), :has(#age2:checked) li:has(.old) {
    color: blue;
    display: none;
}

:has(#age3:checked) li:has(.young),:has(#age3:checked) li:has(.normal)  {
    color: blue;
    display: none;
}

/* liked */
:has(#lp1:checked) li:has(.unliked) {
    color: blue;
    display: none;
}

/* rating */
:has(#r1:checked) li:has(:is(.rating-2, .rating-3, .rating-4, .rating-5)) {
    color: blue;
    display: none;
}

:has(#r2:checked) li:has(:is(.rating-1, .rating-3, .rating-4, .rating-5)) {
    color: blue;
    display: none;
}

:has(#r3:checked) li:has(:is(.rating-2, .rating-1, .rating-4, .rating-5)) {
    color: blue;
    display: none;
}

:has(#r4:checked) li:has(:is(.rating-2, .rating-3, .rating-1, .rating-5)) {
    color: blue;
    display: none;
}

:has(#r5:checked) li:has(:is(.rating-2, .rating-3, .rating-4, .rating-1)) {
    color: blue;
    display: none;
}

/* price */
:has(#price1:checked) li:has(.expensive){
    color: blue;
    display: none;
}

:has(#price2:checked) li:has(.cheap){
    color: blue;
    display: none;
}

/* #endregion */

/* #region Content query */
@container content-block (min-width: 200px) {
    p {
     color: red;
    }
}

  @container content-block (min-width: 480px) {
     p {
     color: yellow;
    }
  }

  @container content-block (min-width: 640px) {
    p {
     color: blue;
    }
  }


  @container headerTest (max-width: 1000px) {
    header{
        gap: 0;
    }
     header > img {
        height: 3em;
        flex:unset;
    }
    
    header > form {
        width: 30%;
        background-color: transparent;
    }
    form input{
        display: none;
    }
    header > div {
        flex: unset;
        justify-content: center;
    }
}


@container article (max-width: 860px){
    #card-block section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@container article (max-width: 672px){
    #card-block section {
        grid-template-columns: 1fr 1fr;
    }
}

@container article (max-width: 456px){
    #card-block section {
        grid-template-columns: 1fr;
    }
}
/* #endregion */

